@model IEnumerable<DataAccessLayer.Models.ExifInfoModel>

@{
    ViewData["Title"] = "Детайли";
}

<h1>Детайли</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @ViewData["Name"]
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                Id
            </th>
            <th>
                name
            </th>
            <th>
                DroneId
            </th>
            <th>
                FileId
            </th>
            <th>
                gps_latitude
            </th>
            <th>
                gps_longtitude
            </th>
            <th>
                item.gps_longtitude
            </th>
            <th>
                date
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DroneId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FileId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gps_latitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gps_longtitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gps_longtitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
            </tr>
        }

    </tbody>
</table>
